*{
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color:rgb(197, 145, 77);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ======== header ======= */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.header-links ul{
    display: flex;
    padding: 0;
    margin: 0; 
    
}
.header-links li {
    list-style: none;
}
.header-links li a{
    display: block;
    text-decoration: none;
    padding: 2rem;
    color: white;
}

.header-links li:hover{
    background-color: #555;
}
.logo{
    width:130px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}
.logo:hover{
    border: 1px solid #64748b;
    transition: 1s;
}
.toggle{
    background: black;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    top: .75rem;
    right:  1rem;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
     border-radius: 10px;
}
.toggle i{
    font-size: 20px;
    transition: 0.2s;
   
}

/* ==========content============== */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    color: white;
    gap: 20px;
}
.space-car{
    background-color: rgb(12, 48, 48);
    width: 60%;
}
.space-car p{
    padding: 20px;
}
.car{
    width: 55%;
    
}
.inform{
    width: 45%;
    height: 40%;
    font-size: 20px;
    color: black;
    text-align: center;   
    transform: translateY(50%); 
    
}

/* =======footer====== */
.page-footer {
    position: relative;
    width: 100%;
    height: 6rem; 
    background-color: rgba(100, 123, 136, 0.842);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
    color: black;

}

.footer-logo,
.page-footer a {
    color:aquamarine;
}

.page-footer p {
    word-spacing: 4px;
    font-size: 20px;
}

.fa-brands {
    font-size: 20px;
}
.fa-sharp {
    font-size: 20px;
}
.fa-brands {
    letter-spacing: 8px;
}
.fa-facebook {
    color: blue;
}
.fa-square-instagram {
    color: rgb(194, 22, 171);
}
.fa-square-x-twitter {
    color:#333
}
.footer-logo p {
    word-spacing: 2px;
}


/* =======registration====== */
.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 420px;
    background-color: transparent;
    border: 2px solid black;
    backdrop-filter: blur(50px);
    color: black; 
    border-radius: 20px;
    gap: 0 20px 10px 10px;
    
}

.wrapper h1{
    font-size: 36px;
    
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    /* border: 2px solid rgba(255, 255, 255, .2); */
    border: 2px solid  black;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 8px;
}
.remember-forgot input{
    accent-color:blue;
    margin-right: 5px;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 8px black;
    cursor: pointer;
    font-size: 16px;
    color:white;
    font-weight: 600;
    margin: 5px 0 20px;
}
.wrapper .btn:hover{
    background-color: black;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s ;
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0, 0.2);
}

.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}
.remember-forgot label{
    transform: translateX(50%);
    font-size: 20px;
}


/* .input-box i {
    
} */



/* ========media========= */

@media(max-width:1280px){
    .inform{
        transform: translateY(15%);
    }
}




@media ( max-width:1024px){
    .logo{
        width: 70px;
    }
    .space-car{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .inform{
        width: 100%;
        font-size: 15px;
        padding: 8px;
    }
    .popup{
        width: 310px;
    }
}

@media ( max-width: 724px){
    /* =======header======= */
    .header-links{
        width: 100%;
        display: none;
    }
    .logo{
        width: 50px;
    }
    .toggle-button{
        display:flex;
    }
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-links ul{
        width: 100%;
        flex-direction: column;
    }
    .header-links li{
        text-align: center;
        font-size: 10px;
    }
    .header-links li a{
        padding:  0rem 0rem;
    }
    .header-links.active{
        display: flex;
    }
    /* ========content========= */
    .space-car{
        width: 100%;
    }
    .container{
        flex-direction: column;
        font-size: 12px;
    }
    .wrapper{
        width: 300px;
    }
    .input-box input{
        width: 85%;
    }
    .wrapper h1{
        font-size: 25px;
    }
    .inform{
        transform: translateY(-2%);
    }
    .popup{
        width: 250px;
    }
    .toggle{
        visibility: visible;
        transform: translateY(-5px);
    }
}

@media (max-width: 424px){
    .icons-wrap{
        display: flex;
        flex-direction: row;
    }
    .wrapper{
        width: 250px;
    }
    .remember-forgot{
        transform: translateX(-30px);
    }
    .popup{
        width: 200px;
    }
    .popun h2{
        font-size: 10px;
    }
    .page-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 8rem;
    }
}

